<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <h4>Mutual Friends</h4>
  <ul>
    <% @arr.each do|user| %>
      <p>
        <li><%= user.name %></li>
      </p>
    <%end %>
  </ul>
   <%=form_for(@user, url: user_friendships_path(@user), method: "GET") do |f|%>
    <%=f.submit "Friends #{Friendship.accepted_request(@user).size + Friendship.request_confirmed(@user).size}"%>
  <%end%> 
  <%= check_user(current_user, @user)%>
      <%= check_friendship(current_user, @user) %>
  
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
